<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=octopus;AccountKey=g2uCOZTNOWxvJMhrZPlVzBfaXgoGLyQVSxcpF+1FRtABhrO1yqF9EHtYcPYVhQsXRk8pRJI23UfXLi563+bH3A==" />
        <add name="octopus.feeder.Properties.Settings.StorageConnectionString"
            connectionString="DefaultEndpointsProtocol=https;AccountName=octopus;AccountKey=g2uCOZTNOWxvJMhrZPlVzBfaXgoGLyQVSxcpF+1FRtABhrO1yqF9EHtYcPYVhQsXRk8pRJI23UfXLi563+bH3A==" />
        <add name="octopus.feeder.Properties.Settings.LocalConnectionString"
            connectionString="UseDevelopmentStorage=true" />
    </connectionStrings>
</configuration>